<html>
<head>
<style type="text/css">
	body,
	html {
		margin:0;
		padding:0;
		 
	}
	#wrap {
		width:1000px;
		margin:0 auto;
		background:cyan;
	}
	#header {
         	 
		background:lightskyblue;
                height:120px; 
                
                 
	}
	h1 {
	    margin:0;
            font-weight:bold;
            font-family:arial;
            color:white;
            font-size:36px;
            position:absolute;
            padding:0px 15px; 
          }
      h3
       { 
         color:brown;
      
        }
      p
     {
       color:blue;
     }
	#nav {
		padding:5px 10px;
		background:lightgreen;
                text-align:center; 
                font-weight:600;
                
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
                font-weight:bold;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
 
        #nav ul li a:hover { 
        color:brown; 
         background:white;
        } 
	#main {
		float:left;
		width:620px;
		padding:10px;
		background:white;		
	}
	h2 {
		margin:0 0 1em;
	}	.textbox { background:grey; }
	#sidebar {
		float:left;
		width:180px;
		padding:10px;
                font-weight:600;
                background:cyan;
	}
         #sidebar ul li a:hover { 
            color:brown; 
            background:white;
        
        } 
	#footer {
		clear:both;
		padding:5px 10px;
		background:lightgreen;
	}

         #nav ul li a
           {
              text-decoration:none; 
            }
        #sidebar ul li a
           {
             text-decoration:none;

            }
	#footer p {
		margin:0;
                  }                      
	* html #footer {
		height:1px;
	}

          
         
	p.pos_fixed
{
position:fixed;
top:30px;
right:5px;
}
	</style>

</head>
</html>